body{
    background: #BDBDBD;
}
body {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    font-size: 32px;
    margin-bottom: 20px;
}
p {
    color: black;
    margin-bottom: 40px;
}
.portfolio-container {
    display: flex;
    gap: 20px;
}
.project {
    width: 700px;
}
.project img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.project h2 {
    font-size: 20px;
    margin-bottom: 5px;
}