<div class="container-fluid ">
    <div class="row">
        <div class="col-12">
            <h1>Contact</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non aspernatur eveniet laborum quasi iste
                pariatur nisi cum error eaque harum</p>
        </div>
    </div>
    <form >
        <div class="justify-content-center">
            <div class="form-group d-flex">
                <label for="name">Your email</label>
                <input type="text" placeholder="Your email">
            </div>
            <div class="form-group d-flex">
                <label>Your message</label>
                <textarea type="form-control" placeholder="pleace enter your message here..." rows="4"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>