<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Contact</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non aspernatur eveniet laborum quasi iste pariatur nisi cum error eaque harum</p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="name">Your email</label>
            <input type="text" class="form-control" id="name" placeholder="Your email">
        </div>
    </div>

</div>