<!DOCTYPE html>
<html>
<body>
    <h1><b>Portfolio</b></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
    <div class="portfolio-container">
        <div class="project">
            <img src="assets/img/big-project-image.png" alt="Project">
            <h2><span style="color:blue"> Project Name </span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
        </div>
        <div class="project">
            <img src="assets/img/big-project-image.png" alt="Project">
            <h2><span style="color:blue"> Project Name </span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
        </div>
        <div class="project">
            <img src="assets/img/big-project-image.png" alt="Project">
            <h2><span style="color:blue"> Project Name </span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
        </div>
    </div>
</body>
</html>
